def env = System.getenv()

// =====================================================================
// TRIMMOMATIC

//Location of Trimmimatic installation
TM_PATH=env['TRIMMOMATIC_HOME']

//Path to trimmomatic java file
TM_JAR="$TM_PATH/trimmomatic-0.32.jar"

//Location of trimmomatic adapter sequence to use
ADAPTER="TruSeq3-PE.fa"

// =====================================================================
// TOPHAT

//Location of tophat executable
TOPHAT="tophat"

// Tophat reference annotation
GENOME_GTF="/gulo/proj_nobackup/b2011210/thomask/HumanTestData/Annotations/Homo_sapiens.GRCh38_Chr1.77.gtf"

//Library method for sequencing
//LIBRARY_METHOD="fr-firststrand"
LIBRARY_METHOD="fr-unstranded"

//Quality encoding of read files
PHRED_SCORE="--solexa-quals"

//Location of bowtie2 executable
BOWTIE2="bowtie2"

//Location of Bowtie2 index
BWT2_INDEX="/sw/data/uppnex/reference/Homo_sapiens/hg19/program_files/bowtie2/rm.chr.1"

//Location of samtools executable
SAMTOOLS="samtools"

// =====================================================================
// RSEQC
RSEQC_BAM_STAT="bam_stat.py"
RSEQC_READ_DISTRIBUTION="read_distribution.py"
RSEQC_JUNCTION_ANNOTATION="junction_annotation.py"
RSEQC_REF_GENE_MODEL_BED="/gulo/proj_nobackup/b2011210/thomask/HumanTestData/Annotations/hg19_Ensembl_1.bed"
