// Uncomment the approriate section for your queuing system

// SLURM queue settings (Uppmax)
// executor="slurm"
// queue="node"
// walltime="00:05:00"
// account="b2011210"
// jobtype="node"
// procs="1"


// LSF/LAVA queue settings
// executor="lsf"
// queue="normal"
// walltime="3600"
// procs="1"
// lsf_request_options=" -R span[hosts=1]"
// lsf_cwd_option=" "


// Generic command settings

commands {
    tophat {
        procs="16"          // Running on a full node
        walltime={
            files -> (files*.length().sum() / (1024*1024) * 60).toInteger()
        }
    }

    cufflinks {
        procs="16"          // Running on a full node
        walltime="36000" // Set this to match you input data
    }
    
    stringtie {
        procs="16"          // Running on a full node
        walltime="36000" // Set this to match you input data
    }    

    trimmomatic {
        procs="8"
    }

    blastp {
        procs="8"
    }

    interpro {
        procs="8"
    }

    rseqc {
        proc="1"
    }
    hisat2 {
        proc="16"
        walltime="36000" // Set this to match you input data
    }
}
